<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <main style="margin: auto; width: 50vw">
      <h1>Halaman login</h1>
      <form action="/login" method="post">
        <input name="username" placeholder="Username" />
        <input name="password" type="password" placeholder="Password" />

        <button>Login</button>
      </form>
    </main>
  </body>
</html>
